@font-face {
    font-family: Iowan-Old-Style;
    src: url(fonts/Iowan-Old-Style.woff2) format('woff2');
    font-weight: normal ;
    font-size: normal;
}

:root {
    --bright-red: #CF021A ;
    --navy-blue: #1A2734;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
}
.header{
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--bright-red);
    color: white;
    justify-content: center;
    text-align: center;
    margin: 1.5rem auto;
    padding: 1.5rem;
    width: 100%;
}

a {
    color: white;
    font-size: 1.5rem;
}

a:hover {
    color: #1A2734;
    transition: 0.3s;
}

p {
    font-family: Iowan-Old-Style;
    font-weight: bold;
    font-size: 1.2rem;
    margin: .5rem;
    padding: 1rem;
}

h2 {
    font-family:'Noto Sans JP', sans-serif;
    padding: 1rem;
    text-align: center;
}

.detailsBox h2 {
    background-color: var(--navy-blue);
    color: white;
}

.interactionDetails {
    display: block;
}

.detailsBox {
    align-items: center;
    border: 4px solid var(--navy-blue);
    display: block;
    margin: 1rem auto;
    width: 75%;
}

.detailsBox li {
    font-family: Iowan-Old-Style ;
   font-size: 1.2rem;
   padding: 1rem; 
   margin: .5rem;
}

.redDivider{
    border-top: 4px solid var(--bright-red);
    margin: 1.5rem auto;
    width: 80%;
}

img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 1rem;
    max-width: 200px;
}

.imageGrid {
    display: grid;
    justify-items: center;
    column-width: 400px;
}

@media only screen and (min-width: 700px) {
    .header{
        justify-content: center;
        text-align: center;
        width: 80%;
    }
    
    .imageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        column-width: 400px;
    }

    .detailsBox {
        display: grid;
        width: 70%;
    }

}

@media only screen and (min-width: 1200px) {

    .header{
        justify-content: end;
        text-align: center;
        margin: 1.5rem auto;
        padding: 1.5rem;
        width: 40%;
    }  

    .imageGrid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .detailsBox {
        display: block;
        margin: 1rem;
        min-height: 200px;
        width: 380px;
    }

    .interactionDetails {
        display: flex;
        justify-content: space-evenly;
    }

}
