
@font-face {
    font-family: Iowan-Old-Style;
    src: url(fonts/Iowan-Old-Style.woff2) format('woff2');
    font-weight: normal ;
    font-size: normal;
}

:root {
    --bright-red: #CF021A ;
    --navy-blue: #1A2734;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

a {
    color: white;
    font-size: 1.5rem;
}

a:hover {
    color: #1A2734;
    transition: 0.3s;
}

h2 {
    font-family:'Noto Sans JP', sans-serif;
    padding: 1rem;
    text-align: center;
}

p {
    font-family: Iowan-Old-Style;
    margin: .5rem;
}

.detailsBox p {
    font-size: 1.2rem;
}
    
.header{
    background-color: var(--bright-red);
    color: white;
    justify-content: end;
    text-align: center;
    margin: 1.5rem auto;
    padding: 1.5rem;
    width: 100%;
}  

.recipeSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeCard {
    display: block;
    box-shadow: 0 0 10px  rgba(76, 76, 76, 0.763);
    margin: 1rem 20px ;
    width: 350px;
}

.recipeImage_container {
    position: relative;
}

.recipeImage {
    display: block;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: rgb(207, 2, 26, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    z-index: 100;
}

.recipeDescription {
    font-family: Iowan-Old-Style;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    margin: auto -2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recipeCard:hover .recipeImage {
    filter: brightness(.5);
   
}
.recipeCard:hover .overlay {
    height: 50%;
}


.recipeName {
    padding: 10px;
    line-height: 1.25;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: left;
    background-color: white;
}

.rating {
    font-family: Iowan-Old-Style;
    font-size: 15px;
    margin: 1rem .5rem;
    padding: 0;
    background-color: white;
}

.imageCredit {
    font-size: 1rem;
    text-align: center;
}


.saveRecipe {
    overflow: hidden;
}
.saveRecipeIcon {
    cursor: pointer;
    width: 50px;
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 10;
    opacity: 0%;
    transition: 0.5s ease;

}

.nutritionalInfoIcon{
    cursor: pointer;
    width: 50px;
    position: absolute;
    top: 18%;
    left: 4%;
    z-index: 10;
    opacity: 0%;
    transition: 0.5s ease;
}
.recipeCard:hover .saveRecipeIcon {
    opacity: 100%;
}
.recipeCard:hover .nutritionalInfoIcon {
    opacity: 100%;
}

.textSave {
    font-family: Iowan-Old-Style;
    font-size: .8rem;
    position: absolute;
    top: 12%;
    left: 5%;  
    color: white;
    z-index: 1;
    opacity: 0%;
    transition: 0.5s ease;
}

.nutritionalIcontext {
    font-family: Iowan-Old-Style;
    font-size: .8rem;
    position: absolute;
    top: 27%;
    color: white;
    z-index: 1;
    opacity: 0%;
    transition: 0.5s ease;
    
}

.nutritionalIconback{
    font-family: Iowan-Old-Style;
    font-size: .8rem;
    position: absolute;
    top: 27%;
    left: 5.5%;
    color: white;
    z-index: 1;
    opacity: 0%;
    transition: 0.5s ease;
}

.recipeSaved {
  left: 4%;  
}


.saveRecipeIcon:hover {
    filter: drop-shadow(0px 3px 3px rgba(187, 43, 43, 0.786));
}
.nutritionalInfoIcon:hover {
    filter: drop-shadow(0px 3px 3px rgba(187, 43, 43, 0.786));
}

.saveRecipe:hover .textSave {
    opacity: 100%
}
.viewNutritionalInfo:hover .nutritionalIcontext , .viewNutritionalInfo:hover .nutritionalIconback  {
    opacity: 100%
}




.bookmarkAnimation {
    position: absolute;
    top: -1%;
    z-index: 20;
    visibility: hidden;
}

.showAnimation{
    visibility: visible;
}

.recipeImageBack{
    display: block;
    filter: brightness(.2);
    width: 100%;
    z-index: 1;
}

.backButton{
    opacity: 100%;
}

.nutritionalInformation {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    z-index: 20;
    left: 15%;
    top: 18%;
    text-align: left;
}

.nutritionalInformation p {
   margin: auto 0 ;
}


.flip-card {
    width: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Apply a horizontal flip when you click the info button */

  .flip-card-anim {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: white;
  }
  
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
  }



/* Styles for the Bottom */
.redDivider{
    border-top: 4px solid var(--bright-red);
    margin: 1.5rem auto;
    width: 80%;
}

a {
    color: white;
    font-size: 1.5rem;
}
    
    a:hover {
    color: #1A2734;
    transition: 0.3s;
}
    


.detailsBox h2 {
    background-color: var(--navy-blue);
    color: white;
}

.interactionDetails {
    display: block;
}

.detailsBox {
    align-items: center;
    border: 4px solid var(--navy-blue);
    display: block;
    margin: 1rem auto;
    width: 75%;
}

.detailsBox li {
    font-family: Iowan-Old-Style ;
    font-size: 1.2rem;
    padding: 1rem; 
    margin: .5rem;
}



@media only screen and (min-width: 700px) {
    .header{
        justify-content: center;
        text-align: center;
        width: 80%;
    }

    .detailsBox {
        display: grid;
        width: 70%;
    } 

    recipeCard {
        margin: 0 20px 50px 0;
    }

    .recipeDescription {
        font-size: 1.2rem;
    }
}


  @media only screen and (min-width: 1200px) {

    .header{
        justify-content: end;
        text-align: center;
        margin: 1.5rem auto;
        padding: 1.5rem;
        width: 40%;
    }  

    .detailsBox {
        display: block;
        margin: 1rem;
        min-height: 200px;
        width: 300px;
    }

    .interactionDetails {
        display: flex;
        justify-content: space-evenly;
    } 

    .recipeDescription {
    font-size: 1.2rem;
    }

}